# IDEA ignore
.idea
*.iml
*.ipr
*.iws

# vs code ingore
.vscode
*.suo
*.njsproj

# vim ingore
*.swp
*.swo

# eclipse ingore
.project
.settings
.classpath

# Mac OS ingore
.DS_Store

# gradle project ingore
.gradle
build
buildSrc/qa/format/java-format.xml
buildSrc/qa/format/java.importorder

